In [6]:
import pandas as pd

In [7]:
hopital1 = pd.read_json("liver.json")

In [8]:
display(hopital1.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Outcome
0,61 to 80 yo,Female,0.7,0.1,187.0,NaN,18,6.8,3.3,0.90,1
1,61 to 80 yo,Male,10.9,5.5,699.0,64.0,100,7.5,NaN,0.74,1
2,61 to 80 yo,Male,7.3,4.1,490.0,NaN,68,7.0,3.3,NaN,1
3,41 to 60 yo,Male,1.0,0.4,182.0,14.0,20,6.8,3.4,1.00,1
4,61 to 80 yo,Male,3.9,2.0,195.0,27.0,59,7.3,2.4,0.40,1

In [9]:
hopital2 = pd.read_csv("liver.csv")
display(hopital2.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Result
0,41 to 60 yo,Male,7.0,2.0,174.0,NaN,14,7800.0 mg/dL,4.2,NaN,2
1,41 to 60 yo,Male,6.0,2.0,245.0,22.0,24,7100.0 mg/dL,3.4,0.9,1
2,21 to 40 yo,Male,11.0,5.0,191.0,37.0,41,7700.0 mg/dL,4.3,NaN,2
3,21 to 40 yo,Male,24.0,10.0,340.0,25.0,21,8300.0 mg/dL,4.5,NaN,1
4,21 to 40 yo,Male,6.0,2.0,202.0,NaN,41,8000.0 mg/dL,3.9,0.9,1

In [10]:

hopital1.rename(columns={
    'Alamine_Aminotransferase': 'ALT',
    'Aspartate_Aminotransferase': 'AST',
    'Albumin_and_Globulin_Ratio': 'AGR'
}, inplace=True)

hopital2.rename(columns={
    'Result': 'Outcome', 
    'Albumin_and_Globulin_Ratio': 'AGR'
}, inplace=True)

In [11]:
display(hopital1.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,AGR,Outcome
0,61 to 80 yo,Female,0.7,0.1,187.0,NaN,18,6.8,3.3,0.90,1
1,61 to 80 yo,Male,10.9,5.5,699.0,64.0,100,7.5,NaN,0.74,1
2,61 to 80 yo,Male,7.3,4.1,490.0,NaN,68,7.0,3.3,NaN,1
3,41 to 60 yo,Male,1.0,0.4,182.0,14.0,20,6.8,3.4,1.00,1
4,61 to 80 yo,Male,3.9,2.0,195.0,27.0,59,7.3,2.4,0.40,1

In [12]:
display(hopital2.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,AGR,Outcome
0,41 to 60 yo,Male,7.0,2.0,174.0,NaN,14,7800.0 mg/dL,4.2,NaN,2
1,41 to 60 yo,Male,6.0,2.0,245.0,22.0,24,7100.0 mg/dL,3.4,0.9,1
2,21 to 40 yo,Male,11.0,5.0,191.0,37.0,41,7700.0 mg/dL,4.3,NaN,2
3,21 to 40 yo,Male,24.0,10.0,340.0,25.0,21,8300.0 mg/dL,4.5,NaN,1
4,21 to 40 yo,Male,6.0,2.0,202.0,NaN,41,8000.0 mg/dL,3.9,0.9,1

In [13]:
print(hopital2.dtypes)

Age                      object
Gender                   object
Total_Bilirubin         float64
Direct_Bilirubin        float64
Alkaline_Phosphotase    float64
ALT                     float64
AST                       int64
Total_Proteins           object
Albumin                 float64
AGR                     float64
Outcome                   int64
dtype: object

In [14]:
#Transformation concernant la colonne Total_Proteins
# 2. Suppression de l'unité " mg/dL"
# On s'assure que toutes les valeurs sont des chaînes de caractères avant d'appliquer la suppression.
hopital2['Total_Proteins'] = hopital2['Total_Proteins'].astype(str).str.replace(' mg/dL', '', regex=False)

# 3. Conversion de la colonne en type numérique (float)
# 'errors="coerce"' convertit toute valeur non numérique restante en NaN (valeur manquante).
hopital2['Total_Proteins'] = pd.to_numeric(hopital2['Total_Proteins'], errors='coerce')

# 4. Affichage des résultats pour vérification
print("Type de données de la colonne 'Total_Proteins' après nettoyage :")
print(hopital2['Total_Proteins'].dtype)

print("\nPremières valeurs de la colonne 'Total_Proteins' après nettoyage :")
print(hopital2['Total_Proteins'].head())

Type de données de la colonne 'Total_Proteins' après nettoyage :
float64

Premières valeurs de la colonne 'Total_Proteins' après nettoyage :
0    7800.0
1    7100.0
2    7700.0
3    8300.0
4    8000.0
Name: Total_Proteins, dtype: float64

In [15]:
import pandas as pd

def mg_par_dl_vers_g_par_dl(valeur_mg_par_dl):
    """
    Convertit une valeur de milligrammes par décilitre (mg/dL) en 
    grammes par décilitre (g/dL).

    Args:
        valeur_mg_par_dl (float/int): La concentration en mg/dL.

    Returns:
        float: La concentration convertie en g/dL.
    """
    # Si la valeur est nulle (NaN), on la retourne telle quelle
    if pd.isna(valeur_mg_par_dl):
        return valeur_mg_par_dl
    
    # Division par 1000 pour la conversion (1g = 1000mg)
    return valeur_mg_par_dl / 1000

In [16]:
hopital2.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,AGR,Outcome
0,41 to 60 yo,Male,7.0,2.0,174.0,NaN,14,7800.0,4.2,NaN,2
1,41 to 60 yo,Male,6.0,2.0,245.0,22.0,24,7100.0,3.4,0.9,1
2,21 to 40 yo,Male,11.0,5.0,191.0,37.0,41,7700.0,4.3,NaN,2
3,21 to 40 yo,Male,24.0,10.0,340.0,25.0,21,8300.0,4.5,NaN,1
4,21 to 40 yo,Male,6.0,2.0,202.0,NaN,41,8000.0,3.9,0.9,1

In [17]:
hopital2['Total_Proteins'] = hopital2['Total_Proteins'] / 1000

In [18]:
hopital2

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,AGR,Outcome
0,41 to 60 yo,Male,7.0,2.0,174.0,NaN,14,7.8,4.2,NaN,2
1,41 to 60 yo,Male,6.0,2.0,245.0,22.0,24,7.1,3.4,0.9,1
2,21 to 40 yo,Male,11.0,5.0,191.0,37.0,41,7.7,4.3,NaN,2
3,21 to 40 yo,Male,24.0,10.0,340.0,25.0,21,8.3,4.5,NaN,1
4,21 to 40 yo,Male,6.0,2.0,202.0,NaN,41,8.0,3.9,0.9,1
...,...,...,...,...,...,...,...,...,...,...,...
316,<20 yo,Male,14.0,5.0,269.0,58.0,45,6.7,3.9,1.4,1
317,61 to 80 yo,Male,7.0,1.0,196.0,20.0,35,5.8,2.0,0.5,1
318,61 to 80 yo,Male,28.0,13.0,250.0,NaN,29,2.7,0.9,0.5,1
319,41 to 60 yo,Male,9.0,3.0,901.0,23.0,17,6.2,3.5,1.2,1
320,21 to 40 yo,Male,12.0,3.0,498.0,28.0,25,7.0,3.0,0.7,1

In [19]:
#Tranformation de la colonne Age
print("Valeurs uniques de 'Age' avant normalisation :")
print(hopital2['Age'].unique())

Valeurs uniques de 'Age' avant normalisation :
['41 to 60 yo' '21 to 40 yo' '61 to 80 yo' '<20 yo' '>80 yo']

In [20]:
print("Valeurs uniques de 'Age' avant normalisation :")
print(hopital1['Age'].unique())

Valeurs uniques de 'Age' avant normalisation :
['61 to 80 yo' '41 to 60 yo' '21 to 40 yo' '<20 yo' '>80 yo']

In [21]:
# 1. Dictionnaire de mapping ordinal
age_mapping = {
    '<20 yo': 1,
    '21 to 40 yo': 2,
    '41 to 60 yo': 3,
    '61 to 80 yo': 4,
    '81 to 100 yo': 5
}

# 2. Application de l'encodage sur le DataFrame 'hopital2'
# Note : Nous supposons que les chaînes ont déjà été normalisées (étape précédente)
hopital2['Age_Encoded'] = hopital2['Age'].map(age_mapping)

# 3. Traitement des valeurs 'nan' qui n'ont pas été mappées
# Les valeurs 'nan' (issues des chaînes) sont souvent laissées dans le DataFrame
# Pour s'assurer que les valeurs manquantes (qui n'étaient pas dans le dictionnaire) sont bien NaN numériques :
hopital2['Age_Encoded'] = pd.to_numeric(hopital2['Age_Encoded'], errors='coerce')


# 4. (Optionnel) Remplacer l'ancienne colonne et vérifier
hopital2.drop('Age', axis=1, inplace=True)
hopital2.rename(columns={'Age_Encoded': 'Age'}, inplace=True)

In [22]:
hopital2.head()

,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,AGR,Outcome,Age
0,Male,7.0,2.0,174.0,NaN,14,7.8,4.2,NaN,2,3.0
1,Male,6.0,2.0,245.0,22.0,24,7.1,3.4,0.9,1,3.0
2,Male,11.0,5.0,191.0,37.0,41,7.7,4.3,NaN,2,2.0
3,Male,24.0,10.0,340.0,25.0,21,8.3,4.5,NaN,1,2.0
4,Male,6.0,2.0,202.0,NaN,41,8.0,3.9,0.9,1,2.0