In [24]:
import pandas as pd

In [25]:
hopital1 = pd.read_json(r"C:\Users\sonia\Downloads\liver.json")

In [26]:
display(hopital1.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Outcome
0,61 to 80 yo,Female,0.7,0.1,187.0,NaN,18,6.8,3.3,0.90,1
1,61 to 80 yo,Male,10.9,5.5,699.0,64.0,100,7.5,NaN,0.74,1
2,61 to 80 yo,Male,7.3,4.1,490.0,NaN,68,7.0,3.3,NaN,1
3,41 to 60 yo,Male,1.0,0.4,182.0,14.0,20,6.8,3.4,1.00,1
4,61 to 80 yo,Male,3.9,2.0,195.0,27.0,59,7.3,2.4,0.40,1

In [27]:
hopital2 = pd.read_csv(r"C:\Users\sonia\Downloads\liver.csv")
display(hopital2.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Result
0,41 to 60 yo,Male,7.0,2.0,174.0,NaN,14,7800.0 mg/dL,4.2,NaN,2
1,41 to 60 yo,Male,6.0,2.0,245.0,22.0,24,7100.0 mg/dL,3.4,0.9,1
2,21 to 40 yo,Male,11.0,5.0,191.0,37.0,41,7700.0 mg/dL,4.3,NaN,2
3,21 to 40 yo,Male,24.0,10.0,340.0,25.0,21,8300.0 mg/dL,4.5,NaN,1
4,21 to 40 yo,Male,6.0,2.0,202.0,NaN,41,8000.0 mg/dL,3.9,0.9,1

In [28]:

hopital1.rename(columns={
    'Alamine_Aminotransferase': 'ALT',
    'Aspartate_Aminotransferase': 'AST',
    'Albumin_and_Globulin_Ratio': 'AGR'
}, inplace=True)

hopital2.rename(columns={
    'Result': 'Outcome', 
    'Albumin_and_Globulin_Ratio': 'AGR'
}, inplace=True)

In [29]:
display(hopital1.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,AGR,Outcome
0,61 to 80 yo,Female,0.7,0.1,187.0,NaN,18,6.8,3.3,0.90,1
1,61 to 80 yo,Male,10.9,5.5,699.0,64.0,100,7.5,NaN,0.74,1
2,61 to 80 yo,Male,7.3,4.1,490.0,NaN,68,7.0,3.3,NaN,1
3,41 to 60 yo,Male,1.0,0.4,182.0,14.0,20,6.8,3.4,1.00,1
4,61 to 80 yo,Male,3.9,2.0,195.0,27.0,59,7.3,2.4,0.40,1

In [ ]:
###########################################################
hopital1.hist(figsize=(25,30))

In [ ]:
display(hopital2.head())

In [ ]:
print(hopital2.dtypes)

In [ ]:
#Transformation concernant la colonne Total_Proteins
# 2. Suppression de l'unité " mg/dL"
# On s'assure que toutes les valeurs sont des chaînes de caractères avant d'appliquer la suppression.
hopital2['Total_Proteins'] = hopital2['Total_Proteins'].astype(str).str.replace(' mg/dL', '', regex=False)

# 3. Conversion de la colonne en type numérique (float)
# 'errors="coerce"' convertit toute valeur non numérique restante en NaN (valeur manquante).
hopital2['Total_Proteins'] = pd.to_numeric(hopital2['Total_Proteins'], errors='coerce')

# 4. Affichage des résultats pour vérification
print("Type de données de la colonne 'Total_Proteins' après nettoyage :")
print(hopital2['Total_Proteins'].dtype)

print("\nPremières valeurs de la colonne 'Total_Proteins' après nettoyage :")
print(hopital2['Total_Proteins'].head())

In [ ]:
import pandas as pd

def mg_par_dl_vers_g_par_dl(valeur_mg_par_dl):
    """
    Convertit une valeur de milligrammes par décilitre (mg/dL) en 
    grammes par décilitre (g/dL).

    Args:
        valeur_mg_par_dl (float/int): La concentration en mg/dL.

    Returns:
        float: La concentration convertie en g/dL.
    """
    # Si la valeur est nulle (NaN), on la retourne telle quelle
    if pd.isna(valeur_mg_par_dl):
        return valeur_mg_par_dl
    
    # Division par 1000 pour la conversion (1g = 1000mg)
    return valeur_mg_par_dl / 1000

In [ ]:
hopital2.head()

In [ ]:
hopital2['Total_Proteins'] = hopital2['Total_Proteins'] / 1000

In [ ]:
hopital2

In [ ]:
#Tranformation de la colonne Age
print("Valeurs uniques de 'Age' avant normalisation :")
print(hopital2['Age'].unique())

In [ ]:
print("Valeurs uniques de 'Age' avant normalisation :")
print(hopital1['Age'].unique())

In [ ]:
# 1. Dictionnaire de mapping ordinal
age_mapping = {
    '<20 yo': 1,
    '21 to 40 yo': 2,
    '41 to 60 yo': 3,
    '61 to 80 yo': 4,
    '81 to 100 yo': 5
}

# 2. Application de l'encodage sur le DataFrame 'hopital2'
# Note : Nous supposons que les chaînes ont déjà été normalisées (étape précédente)
hopital2['Age_Encoded'] = hopital2['Age'].map(age_mapping)

# 3. Traitement des valeurs 'nan' qui n'ont pas été mappées
# Les valeurs 'nan' (issues des chaînes) sont souvent laissées dans le DataFrame
# Pour s'assurer que les valeurs manquantes (qui n'étaient pas dans le dictionnaire) sont bien NaN numériques :
hopital2['Age_Encoded'] = pd.to_numeric(hopital2['Age_Encoded'], errors='coerce')


# 4. (Optionnel) Remplacer l'ancienne colonne et vérifier
hopital2.drop('Age', axis=1, inplace=True)
hopital2.rename(columns={'Age_Encoded': 'Age'}, inplace=True)

In [ ]:
hopital2.head()

In [ ]:
print(hopital2["Age"])

In [ ]:
# 1. Normalisation de la colonne Gender
# Convertir en chaîne, supprimer les espaces et standardiser la casse (initiale en majuscule)
hopital2['Gender'] = hopital2['Gender'].astype(str).str.strip().str.capitalize()

# 2. Dictionnaire de mapping binaire
# Attribuer 1 à l'une des catégories et 0 à l'autre.
# Par convention, on utilise souvent 1 pour la catégorie la plus "présente" ou "ciblée".
gender_mapping = {
    'Male': 1,
    'Female': 0
}

# 3. Application de l'encodage
hopital2['Gender'] = hopital2['Gender'].map(gender_mapping)

# 4. Conversion en entier (Int64 permet de conserver les NaN comme des valeurs entières)
# 'errors="coerce"' gère les valeurs qui étaient des chaînes 'nan' avant mapping.
hopital2['Gender'] = pd.to_numeric(hopital2['Gender'], errors='coerce').astype('Int64')

In [ ]:
hopital2.head()